<div *ngIf="sectionAlignment=='vertical'" class="p-3">
   
    <div #sectionheader [id]="sectionModel.name" class="editable" [innerHTML]="sectionModel.headerContent| safeHtml" ></div>
    <div #sectioncontent  class="editable" [innerHTML]="sectionModel.sectionContent | safeHtml"></div>
</div>


<div *ngIf="sectionAlignment=='horizontal'" class="p-3 container-fluid" >
   <div class="row">
    <div #sectionheader style="border-right: 2pt solid;" [id]="sectionModel.name" class="editable  col-4" [innerHTML]="sectionModel.headerContent| safeHtml" ></div>
    <div #sectioncontent  class="editable col-8" [innerHTML]="sectionModel.sectionContent | safeHtml"></div>
  </div>
</div>

<div *ngIf="sectionAlignment=='half'"  class="p-3 container-fluid" >
  <div #sectionheader [id]="sectionModel.name" class="editable" [innerHTML]="sectionModel.headerContent| safeHtml" ></div>
  <div #sectioncontent  class="editable" [innerHTML]="sectionModel.sectionContent | safeHtml"></div>
</div>