@media print{
    .dontPrint
    {
        display: none;
    
    }
    :host{
        flex-grow: 1;
        display: block;
        height: 100%;
        background-color: red !important;
    }
    
    }