<div class="toolbar justify-content-between p-2 d-flex align-items-center">
  <h3 style="text-decoration: underline;">Inline Editor</h3>
  <div class="d-flex flex-column fw-bold">
    <label for="customRange1" class="form-label  text-center">Zoom</label>
    <input min="20" value="100" max="100" #zoom type="range" class="form-range" id="customRange1">
  </div>
  <div class="d-flex align-items-center ">
      <h6 class="mx-2">Edit Mode</h6>
      <div class="form-check  form-switch">
        
        <input (input)="switchMode()"  class="form-check-input form-switch form-switch-xl my-auto" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        
      </div>
      <h6 class="mx-2">Drag/Block Mode</h6>
    </div>
  <div class="d-flex">

    <button (click)="addSection()" class="btn mybut mx-2">Add New Section</button>
    <a class="btn mybut mx-2" [routerLink]="['/printResume']" [queryParams]="{resumeId:curResumeId}">Print</a>
    <button (click)="save()" class="btn mybut mx-2">Save</button>
  </div>
</div>


<div *ngIf="state=='success'" [ngClass]="!isDraggable?'justify-content-center':'justify-content-between'" class="d-flex ">

    
    
    <div style="width: 30vw; height: 500px;overflow: auto;" *ngIf="isDraggable" class="p-3 mt-2 text-center text-white sidebar bg-danger d-flex flex-column shadow-lg">
            <ng-container *ngIf="user.getCurrentUser().isPremium;else notPremium">
            <h3 class="bg-white text-danger p-1">Resume Editor</h3>
            <div  class="d-flex align-items-center flex-column"> 
              <h4 class="text-center text-decoration-underline">Contact Info</h4>
              <h6>Show Email</h6>
              <div class="form-check  form-switch">
              
                <input [(ngModel)]="resumeOptions.showEmail"  class="form-check-input form-switch form-switch-xl my-auto" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                
              </div>
              <h6>Show Phone</h6>
              <div class="form-check  form-switch">
              
                <input [(ngModel)]="resumeOptions.showPhone"  class="form-check-input form-switch form-switch-xl my-auto" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                
              </div>

              <h6 >Show Location</h6>
              <div class="form-check  form-switch">
              
                <input [(ngModel)]="resumeOptions.showLocation"  class="form-check-input form-switch form-switch-xl my-auto" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                
              </div>

              <h4 class="text-center text-decoration-underline">Header</h4>
              <h6 class="tex-center">Header Alignment</h6>
              <select class="form-select " [(ngModel)]="resumeOptions.headerAlignment">
                <option value="horizontal">Basic</option>
                <option value="vertical">Profile Pic</option>
              </select>
              <h6 class="text-center">Background Color</h6>
              <input [(ngModel)]="resumeOptions.headerBackgroundColor"   type="color">
              <h6 class="text-center">Text Color</h6>
              <input [(ngModel)]="resumeOptions.headerTextColor"   type="color">
            </div>
            <div  class="d-flex align-items-center  flex-column"> 
                <h4 class="text-center text-decoration-underline">Sections</h4>
                <h6 class="tex-center">Section Alignment</h6>
                <select class="form-select " [(ngModel)]="resumeOptions.sectionAlignment">
                  <option value="horizontal">Horizontal</option>
                  <option value="vertical">Vertical</option>
                  <option value="half">Double Column</option>
                </select>
                <h6 class="text-center">Background Color</h6>
                <input [(ngModel)]="resumeOptions.bodyBackgroundColor"   type="color">
                <h6 class="text-center">Text Color</h6>
                <input [(ngModel)]="resumeOptions.bodyTextColor"   type="color">
                
            </div>
    </ng-container>
    <ng-template #notPremium>
      <h4 class="mt-5 text-center p-5">Upgrade To premium <br>For Full Editing Access</h4>
      <a routerLink="/user/addSubscription" class="btn btn-outline-danger mybut mx-4">Upgrade Right Now</a>
    </ng-template>
    </div>

    <div class="page-container m-5 flex-grow-0 ">
      <app-basic-template [ngStyle]="{backgroundColor:resumeOptions.bodyBackgroundColor}" [isPrint]="false" [resumeOptions]="resumeOptions" [isDraggable]="isDraggable"  [style]="{'scale':zoom.valueAsNumber/100}" #resume [resumeModel]="resumeModel" class="page   shadow-lg " ></app-basic-template>
  </div>


</div>



<div *ngIf="state=='loading'" style="color: var(--dark-blue);" class="container-fluid mt-5 p-5">
    <div class="row  justify-content-center">
    <div style="width: 5rem; height: 5rem;" class=" m-auto spinner-border m-5 h1" role="status">
      <span class="h1  sr-only">Loading...</span>
    </div>
    <h1 class="text-center mt-5 ">Fetching Data</h1>
  </div>
  </div>

  <ng-container *ngIf="state=='failure'" style="color: var(--dark-blue);" class="container-fluid mt-5 p-5">
    <div style="height:80vh" class=" d-flex flex-column justify-content-center my-auto">
      <i class=' mt-5 col-12 fa-solid fa-5x  fa text-center  fa-warning'></i>
      <h1 class="h1  text-center mt-">Seems Like An Error :(</h1>
  </div>
  </ng-container>