<div  class="p-5 align-items-center home d-flex flex-column">
    <h1 data-aos="fade-up" data-aos-delay="100"   class="h1 blue">Building A Resume Has Never <span >Been This Easy.</span></h1>
    <div class="container-fluid">
        <div class="row justify-content-evenly" data-aos="fade-up" data-aos-delay="300">
            <div class="d-flex flex-column inst justify-content-center col-md-4 rounded-5 col-10 mt-5 p-4">
                <h2 class="fw-bolder text-center">Build Your Resume In A Few Steps</h2>
                <ul class="d-flex flex-column  mt-4">
                    <li><h4>Sign Up On ResumeToGo</h4></li>
                    <li><h4 class="mt-3">Tell us about your Job Description</h4></li>
                    <li><h4 class="mt-3">Edit Your AI generated Resume</h4></li>


                </ul>
            </div>
            <div data-aos="fade-up" data-aos-delay="500" class="col-md-6 col-12 mt-5 d-flex   align-tems-center flex-column ">
                <h1 class="text-center"><i class="fa-solid fa-arrow-down"></i> Try Our Inline Editing</h1>
                <div style="background-color: var(--dark-blue);" class="p-3 shadow-lg">
                    <div class="editablex"><h1 style="color: var(--peach);" >Mahesh Babu</h1></div>
                    <div class="editablex"><h3 style="color: var(--peach);" >Software Engineer</h3></div>
                </div>
                <div dragula="xyz">
                    <div class="bg-white d-flex flex-column">
                        <div class="editablex"> <h3  style="text-align:center;">About me</h3></div>
                        <span class="placeholder align-self-center col-9 my-1"></span>
                        <span class="placeholder align-self-center col-10 my-1"></span>
                        <span class="placeholder align-self-center col-10 my-1"></span>
                    </div>
                    <div class="bg-white d-flex flex-column py-3">
                        <div class="editablex"> <h3  style="text-align:center;">Skills</h3></div>
                        <span class="placeholder col-9 my-1 align-self-center"></span>
                        <span class="placeholder col-10 my-1 align-self-center"></span>
                        <span class="placeholder col-10 my-1 align-self-center"></span>
                    </div>
                </div>
            </div>
            <div  class="col-11 mt-5">
                <h2>What Are You Waiting For? <a style="color:var(--dark-blue)" [routerLink]="'/signup'" class="link">Sign Up Right Now</a></h2>
            </div>
        </div>
    </div>
</div>