<app-signinmodal #modal></app-signinmodal>
		<section data-aos="fade-up" class="pricing-table">
			<div class="container">
				<div class="block-heading">
					<h2 class="text-danger fw-bolder">Our Pricing</h2>
					<h3 class="text-danger">Purchase Any Subscription To <i><b>Enable Full Editing Capabilities.</b></i></h3>
				</div>
				<div class="row justify-content-md-center text-danger">
					<div class="col-md-5 col-lg-4">
						<div class="item">
							<div class="heading">
								<h3>PRO</h3>
							</div>
							<p>Suitable For One Time Resume.</p>
							<div class="features">
								<h4><span class="feature">Premium Editing</span> : <span class="value">Yes</span></h4>
								<h4><span class="feature">AI Generated Resumes</span> : <span class="value">2</span></h4>
								<h4><span class="feature">Cost Per Resume</span> : <span class="value">$1</span></h4>
							</div>
							<div class="price">
								<h4 class="tex-danger">$2</h4>
							</div>
							<button (click)="submit(1)" class="btn btn-block btn-outline-danger" type="submit">BUY NOW</button>
						</div>
					</div>
					<div class="col-md-5 col-lg-4">
						<div class="item">
							<div class="ribbon bg-danger">Best Value</div>
							<div class="heading">
								<h3>PRO MAX</h3>
							</div>
							<p>Most Purchased Subscription.</p>
							<div class="features">
								<h4><span class="feature">Premium Editing</span> : <span class="value">Yes</span></h4>
								<h4><span class="feature">AI Generated Resumes</span> : <span class="value">10</span></h4>
								<h4><span class="feature">Cost Per Resume</span> : <span class="value">$0.5</span></h4>
							</div>
							<div class="price">
								<h4>$5</h4>
							</div>
							<button (click)="submit(2)" class="btn btn-block btn-danger" type="submit">BUY NOW</button>
						</div>
					</div>
					<div class="col-md-5 col-lg-4">
						<div class="item">
							<div class="heading">
								<h3>ULTRA PRO MAX</h3>
							</div>
							<p>Best For Business.</p>
							<div class="features">
								<h4><span class="feature">Premium Editing</span> : <span class="value">Yes</span></h4>
								<h4><span class="feature">AI Generated Resumes</span> : <span class="value">100</span></h4>
								<h4><span class="feature">Cost Per Resume</span> : <span class="value">$0.3</span></h4>
							</div>
							<div class="price">
								<h4>$30</h4>
							</div>
							<button (click)="submit(3)" class="btn btn-block btn-outline-danger" type="submit">BUY NOW</button>
						</div>
					</div>
				</div>
			</div>
		</section>